BOT_TOKEN=your_main_bot_token
SHOP_ID=1234567
SECRET_KEY=live_token
BOT_URL=https://t.me/your_main_bot

TEST_BOT_TOKEN=your_test_bot_token
TEST_SHOP_ID=test_yookasssa_token
TEST_SECRET_KEY=yookassa_secret_key_test
TEST_BOT_URL=https://t.me/your_test_bot

ADMIN_CHAT_ID=

DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=